:root {
  --header-bg: #ffffff;
  --user-item-bg: #ffffff;
  --body-bg: #f8f8f8;
  --bg-btn: #f4e041;
  --bg-btn-hover: #ffe302;
  --bg-btn-disabled: #b4b4b4;
  --main-color-text: #000000;
  --secondary-color-text: #ffffff;
}
