.wrapBlock {
  margin: 50px auto;
  max-width: 1170px;
  min-height: 500px;
  @media screen and (max-width: 768px) {
    max-width: 768px;
  }
  @media screen and (max-width: 360px) {
    max-width: 360px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
  }

  .wrapImg {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
