.footer {
  margin: 10px auto;
  max-width: 1170px;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #d0cfcf;

  @media screen and (max-width: 1040px) {
    padding: 0 20px;
  }
}
