.users {
  margin: 140px auto;
  max-width: 1170px;
  min-height: 50px;

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }

  @media screen and (max-width: 360px) {
    max-width: 360px;
  }

  .usersMainTitle {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: var(--main-color-text);
  }

  .usersList {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media screen and (max-width: 1024px) {
      max-width: 1024px;
      grid-template-columns: repeat(3, 0fr);
      justify-content: center;
    }

    @media screen and (max-width: 768px) {
      max-width: 768px;
      grid-template-columns: repeat(2, 0fr);
      gap: 15px;
      justify-content: center;
    }

    @media screen and (max-width: 360px) {
      max-width: 360px;
      grid-template-columns: repeat(1, 0fr);
      gap: 15px;
      justify-content: center;
    }

    .userItem {
      padding: 20px;
      width: 330px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      background-color: var(--user-item-bg);

      @media screen and (max-width: 1024px) {
        width: 242px;
      }
      @media screen and (max-width: 768px) {
        width: 304px;
      }
      @media screen and (max-width: 360px) {
        width: 288px;
      }

      .userItemWrap {
        width: 370px;

        @media screen and (max-width: 1024px) {
          width: 242px;
        }

        @media screen and (max-width: 768px) {
          width: 304px;
        }

        @media screen and (max-width: 360px) {
          width: 288px;
        }

        img {
          margin: auto;
        }

        .userName {
          text-align: center;
          width: 330px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          margin-top: 20px;

          @media screen and (max-width: 1024px) {
            width: 242px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          @media screen and (max-width: 768px) {
            width: 304px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          @media screen and (max-width: 360px) {
            width: 288px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .wrapInfo {
          margin-top: 20px;
          width: 100%;
          text-align: center;

          .profession {
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
          }

          .userEmail {
            width: 330px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

            @media screen and (max-width: 1024px) {
              width: 242px;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            @media screen and (max-width: 768px) {
              width: 304px;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            @media screen and (max-width: 360px) {
              width: 288px;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          .usePhone {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
          }
        }
      }
    }
  }
  .wrapShowMore {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .showMore {
      font-family: "Nunito", sans-serif;
      width: 120px;
      height: 34px;
      background-color: var(--bg-btn);
      color: var(--main-color-text);
      border-radius: 80px;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    .showMore:hover {
      background-color: var(--bg-btn-hover);
    }
  }
}
